.card {
  width: 30rem;
  margin: 2rem auto;
  padding: 1rem 1rem;
}

.card.add-user-box {
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.card.user-list {
  border-radius: 12px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.card.modal-box {
  width: 50%;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  padding: 0;
  overflow: hidden;
  /* margin: 25% auto; */
}
